body{
    font-family: Arial, sans-serif;
    margin:0;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient background */
    color: #333; /* Text color */
    padding: 20px; /* Padding around the body */
    align-items: center; /* Center align items */
    justify-content:space-evenly;
    display: flex; /* Flexbox for layout */
    flex-wrap: wrap; /* Prevent text from wrapping */
}